__py_cache__
__pycache__/main.cpython-38.pyc
__pycache__/main.cpython-311.pyc
.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
data/checkpoint
data/final.data-00000-of-00002
data/final.data-00001-of-00002
data/final.index
data/coco/2017/1.1.0/coco-test.tfrecord-00000-of-00064
data/coco/2017/1.1.0/coco-train.tfrecord-00000-of-00256
data/coco/2017/1.1.0/coco-validation.tfrecord-00000-of-00008
data/coco/2017/1.1.0/dataset_info.json
data/coco/2017/1.1.0/image.image.json
data/coco/2017/1.1.0/objects-label.labels.txt
venv/*
output_image.png
data.zip
modelo_retinaNet1.h5
retinanet/